E' stato chiesto il recupero della tua password. Segui questo link:

<a href="{{ url('user_do_reset', { 'token': token, 'email': email }) }}">{{ url('user_do_reset', { 'token': token, 'email': email }) }}</a>