<p style="text-align:justify"><em>Avemor teoniano!</em></p>

<p style="text-align:justify"><em>Del crollo del Vello e la conseguente distruzione della città di Teon in superficie si sono perse le tracce. Poco si conosce di quel periodo terribile che ha costretto la gente a nascondersi nel sottosuolo. La Signoria Leci, insieme ai propri sudditi, sono svaniti e su di loro si narrano molte leggende, nessuna delle quali realmente certa.<br />
        Ma ora è accaduto qualcosa di inspiegabile: la città è tornata a splendere e un nuovo governo ne sorregge le sorti. Alcuni narrano che è stata Evif in persona a concedere a Teon una seconda possibilità. Che sia vero?<br />
        Voi siete stato, per certo, tra quelli che hanno accolto la notizia della rinascita di Teon e siete giunto sino a qui in cerca di fortuna e gloria. Magari il Vostro nome non era tra i pi&ugrave; noti, ma c&#39;&egrave; sempre tempo per rifarsi, se lo vorrete.<br />
        Avrete poco nelle vostre tasche: qualche Moro, uno stiletto e del cibo. Se non avete ancora una casa, sicuramente la Locanda "Al Cervo Rosso" sarà lieta di offrirvi qualche pasto caldo e riparo dagli elementi.</em></p>

<p style="text-align:justify"><em>Possa la Evif Sorridervi.</em></p>

<p style="text-align:right"><strong><em>Un teoniano come Voi</em></strong></p>

<p>_____________________</p>

<p><em><strong>[OFF GAME]</strong></em></p>

<p style="text-align:justify">Benvenuto su Shenteon - L&#39;Eredit&agrave; delle Lune.<br />
    <br />
    Alla tua sinistra troverai il Men&ugrave; ON del Sito che rappresenta ci&ograve; che il tuo Personaggio pu&ograve; conoscere.<br />
    Andando invece al Men&ugrave; OFF, tramite l&rsquo;apposita linguetta, troverai tutto ci&ograve; che puoi conoscere tu in quanto Giocatore.<br />
    Ti invitiamo a spendere giusto 15 minuti per leggere ci&ograve; che trovi nel &ldquo;Manuale di Gioco&rdquo; (Men&ugrave; OFF) cos&igrave; da poter &quot;vivere&quot; ed interpretare al meglio questo gioco.<br />
    Molto utile la lettura del manualetto &quot;Come creare un Background&quot; che ti permetter&agrave; di <em>preparare</em> il tuo Personaggio.</p>

<p style="text-align:justify">Per qualsiasi dubbio o domanda, chiedi pure ad una Guida (individuabili dalla lista dei Presenti tramite il quadratino azzurro con la &quot;i&quot; bianca di fianco al loro nome).</p>

<p style="text-align:right"><em><strong>La Gestione</strong></em></p>

