<div class="image">
    <img src="{{ vich_uploader_asset(race, 'maleImage') }}">
    <img src="{{ vich_uploader_asset(race, 'femaleImage') }}">
</div>
<div class="description">
    {{ race.description|raw }}
</div>