<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Errore: pagina non trovata | Shenteon</title>
    <style>
        html, body {
            background-color: black;
            height: 100%;
            width: 100%;
            color: #e6e6e6;
        }

        .container {
            width: 600px;
            margin: 0 auto;
        }

        a {
            color: #e6e6e6;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Oops! La pagina non esiste! :(</h1>

    <p>La pagina che hai cercato è stata rimossa dalla magia dello Shen, oppure non è mai esistita.</p>

    <p><a href="{{ path('site_homepage') }}">Torna alla homepage</a></p>
</div>

</body>
</html>