<h3>
    Benvenuto su Shenteon – L’Eredità delle Lune!
</h3>

<p>Il tuo account è stato creato! La Signoria di Teon ti aspetta.<br>
    Vuoi imparare l’arte della magia o quella del combattimento? Preferisci buttarti a capofitto nel commercio o
    preferisci diventare un topo di biblioteca? Ogni cosa è a portata di mano! Ti basta un po’ di fantasia e la voglia
    di divertirti insieme a noi.</p>

<p>Ora non ti resta che creare il tuo primo Personaggio: sarà sufficiente effettuare il <a
            href="http://www.shenteon.com/login" title="Login sul sito">login sul sito</a> con i dati da te indicati in
    fase di registrazione.
</p>


<p><i>Qualora avessi ricevuto per sbaglio questa mail, ti invitiamo a contattarci all'indirizzo gestione@shenteon.com
        per segnalarci l'errore.</i></p>

<p>
    La Gestione di Shenteon<br>
    GdR by Chat fantasy/medievale<br>
    www.shenteon.com<br>
</p>