{% extends 'GdrSiteBundle::layout.html.twig' %}

{% block content %}
    <h2>Registrazione completata!</h2>
    <p>
       Benvenuto/a! Puoi <strong>effettuare già da ora il login</strong> con i dati scelti durante la registrazione: <a href="{{ path('login') }}">accedi subito al gioco!</a>
    </p>
    <p>E’ stata inviata un'email all’indirizzo da te indicato per confermarti l'avvenuta registrazione.</p>
{% endblock %}