<tr>
    <th class="name">Nome</th>
    <th class="description">Descrizione</th>
    <th class="select">Seleziona</th>
</tr>
{% for p in paginator %}
    <tr class="spell-row">
        <td class="name">{{ p.name }}</td>
        <td class="description">{{ p.description }}</td>
        <td class="select">
            <input data-url="{{ url('grimory-select', {spellId: p.id}) }}" class="selectSpell" type="checkbox"
                   {% if p.isSelected %}checked="true"{% endif %}>
            {% if p.isLearned %}<i>(studiato)</i>{% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="3" class="text-center"><p>Nessun incantesimo per questa categoria</p></td>
    </tr>
{% endfor %}
<tr>
    <td colspan="3" class="table-pagination">
        {{ knp_pagination_render(paginator) }}
    </td>
</tr>