{% extends "GdrSiteBundle::layout.html.twig" %}

{% block title "I Crediti - Chi ha contribuito alla creazione del gioco" %}

    {% block content %}
        <h1 style="text-align:center"><strong>CREDITS</strong></h1>

        <h4 style="text-align:center"><strong>Programmazione</strong></h4>

        <p style="text-align:center"><strong>Diego Viola </strong><br/>
            <em>(Airon)</em></p>

        <h4 style="text-align:center"><strong>Grafica</strong></h4>

        <p style="text-align:center"><strong>Morris Gavazza </strong><br/>
            <em>(Lafrast)</em></p>

        <p style="text-align:center"><strong>Valentina Persano </strong><br/>
            <em>(Narcisse)</em></p>

        <h4 style="text-align:center"><strong>Idea e Testi</strong></h4>

        <p style="text-align:center"><strong>Diego Viola </strong><br/>
            <em>(Airon)</em><br/>
            <strong>Morris Gavazza </strong><br/>
            <em>(Lafrast)</em><br/>
            <strong>Valentina Persano</strong><br/>
            <em>(Narcisse)</em></p>
    {% endblock %}