<p style="text-align:justify">&quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;&egrave; un Gioco di Ruolo
    Play by Chat di ambientazione fantasy medievale.</p>

<p style="text-align:justify">L&#39;utente che si registra al sito crea un Personaggio che da quel momento vivr&agrave;
    nella cittadina di Teon, fulcro dello Shen ed avr&agrave; svariate possibilit&agrave; per continuare la sua
    avventura.</p>

<p style="text-align:justify">Tutti i testi e le immagini&nbsp;dentro e fuori dal sito sono coperti da Copyright.</p>

<hr/>
<p style="text-align:center"><strong>Data l&#39;ambientazione &egrave; possibile che i Personaggi si possano imbattere
        in alcune situazioni particolari, pertanto,&nbsp;approvando questo documento, si dichiara di avere compiuto 18
        anni.</strong></p>

<p style="text-align:center"><strong>La Gestione al contempo si esenta da ogni responsabilit&agrave; in caso di
        dichiarazioni mendaci.</strong></p>

<hr/>
<p style="text-align:justify">&nbsp;</p>

<h3 style="text-align:center"><strong>VIOLENZA</strong></h3>

<p style="text-align:justify">All&#39;interno del gioco &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; i
    Personaggi possono imbattersi in duelli, scontri, guerre ed&nbsp;avvenimenti in genere che&nbsp;potrebbero portare
    alla morte del Personaggio.&nbsp;N&eacute; la Gestione, proprietaria del sito, n&eacute; la Moderazione
    interverranno per interrompere questo tipo di giocate fatta eccezione che esse non violino uno o pi&ugrave; articoli
    del&nbsp;&quot;Regolamento del Giocatore&quot; inerenti l&#39;ambito di gioco On Game.&nbsp;</p>

<h3 style="text-align:center"><strong>POSSIBILI SITUAZIONI VIRTUALI CHE GENERANO PAURE</strong></h3>

<p style="text-align:justify">L&rsquo;Ambientazione prevede l&rsquo;inserimento di elementi narrativi e scenici che
    potrebbero causare problemi a persone particolarmente sensibili o impressionabili. Onde prevenire spiacevoli
    risvolti e/o inconvenienti, la Gestione invita l&rsquo;utente potenzialmente impressionabile nel ponderare con
    accuratezza la propria decisione di aderire a &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;, qualora si
    dovessero verificare fatti spiacevoli e/o dannosi la Gestione declina&nbsp;ogni responsabilit&agrave;.&nbsp;</p>

<h3 style="text-align:center"><strong>MODERAZIONE NON GARANTITA IN TEMPO REALE</strong></h3>

<p style="text-align:justify">&quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; &egrave; un gioco di ruolo
    no-profit di tipo amatoriale, pertanto Gestione e Moderazione non possono garantire&nbsp;un controllo in tempo
    reale. L&rsquo;utente registrato, ossia il Giocatore, leggendo questo&nbsp;accetta esplicitamente che gli interventi
    di moderazione&nbsp;possano avvenire in un secondo momento rispetto alla segnalazione.</p>

<h3 style="text-align:center"><strong>INTERAZIONE CON TERZE PERSONE ON LINE</strong></h3>

<p style="text-align:justify">&quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; &egrave; un gioco di ruolo
    Multiplayer, a cui si accede tramite un&rsquo;interfaccia web, all&rsquo;interno del quale &egrave; possibile
    interagire con diverse funzionalit&agrave;. Il sito prevede un gioco di tipo &quot;testuale&quot; con personaggi
    virtuali immaginari interpretati da terze persone. Si informa che la Gestione del sito non ha modo di verificare
    identit&agrave; reale, et&agrave; e comportamenti degli utenti con i quali &egrave; possibile interagire, eccezione
    fatta per quanto concerne il rispetto del &quot;Regolamento&nbsp;del Giocatore&quot;. Troviamo quindi doveroso
    informare e ricordare che, creando ed usando un Account, il giocatore accetta in prima persona, assumendosi la
    responsabilit&agrave; di eventuali conseguenze, i rischi connessi all&rsquo;interazione con terze persone non
    verificate, sollevando la propriet&agrave; del sito da qualsiasi tipo di Responsabilit&agrave; Morale e Materiale
    riguardo tali interazioni. La Gestione, proprietaria del sito,&nbsp;si esenta inoltre da ogni responsabilit&agrave;
    in merito alle interazioni tra giocatori o a quanto potrebbe accadere al di fuori dell&rsquo;interfaccia di
    Gioco.</p>

<h3 style="text-align:center"><strong>METODI DI COMUNICAZIONE PRIVATA NON MODERATA</strong></h3>

<p style="text-align:justify"><span style="font-size:13px">All&rsquo;interno di&nbsp;</span>&quot;Shenteon - L&#39;Eredit&agrave;
    delle Lune&quot;<span style="font-size:13px"> si dispone di strumentazioni di comunicazione diretta e privata tra utenti registrati, quali l&#39;invio di missive private all&rsquo;utente desiderato. La Gestione&nbsp;non controlla in prima persona tali strumentazioni di comunicazione privata a meno che non vi sia una segnalazione di violazione regolamentare da parte di un utente.</span>
</p>

<h3 style="text-align:center"><strong>POSSIBILITA&#39; DI GIOCATE E STRUMENTI PER IL GIOCO D&#39;AZZARDO
        VIRTUALE</strong></h3>

<p style="text-align:justify">Su &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;al Personaggio viene data
    la possibilit&agrave; di&nbsp;utilizzare uno strumento per giocare d&#39;azzardo con altri Personaggi, garantendo
    comunque&nbsp;che non verranno MAI utilizzati soldi reali ma solo quelli virtuali. L&#39;utilizzo eccessivo di tali
    strumenti potrebbe portare a dipendenza, per cui la Gestione declina ogni responsabilit&agrave;.</p>

<hr/>
<h3 style="text-align:center"><strong>CONDIZIONI GENERALI</strong></h3>

<p style="text-align:justify">Le condizioni generali d&#39;uso qui sottoposte, che regolamentano l&#39;utilizzo del sito
    www.shenteon.com, sono da ritenersi vincolanti sotto il profilo giuridico fra la Gestione del sito e l&#39;utenza di
    &quot;Shenteon -- L&#39;Eredit&agrave; delle Lune&quot; ergo, qualora non concordassi con una delle clausole
    sottostanti, ti&nbsp;invitiamo ad astenerti dall&#39;effettuare l&#39;accesso al sito o dall&#39;utilizzare questo
    sito e le informazioni in esso contenute.</p>

<p style="text-align:justify"><strong>Tutela dei dati personali</strong><br/>
    Registrandosi l&#39;utente d&agrave; alla Gestione della Comunit&agrave; il suo espresso consenso al trattamento dei
    suoi dati personali (password), dati che vengono appositamente richiesti in modo tale da rendere possibile
    l`erogazione del servizio attraverso il sito Internet www.shenteon.com; inoltre i dati personali non saranno mai
    utilizzati, in alcun modo, a scopo di lucro. La mail fornita durante l&#39;iscrizione verr&agrave; eventualmente
    utilizzata SOLO per newsletter che la propiet&agrave; invier&agrave; a scopo informativo su eventi interni al Gioco,
    in alcun modo sar&agrave; possibile rimuovere l&#39;e-mail fornita dalle newsletter. L&#39;utente &egrave;
    responsabile delle informazioni fornite alla Gestione che avr&agrave; il diritto di revocare l&#39;accesso all&#39;Account
    nel caso in cui siano state fornite informazioni false o errate durante la fase di registrazione. La Gestione, nel
    trattamento di tutti i dati personali raccolti e relativi all&#39;utente, osserver&agrave; le leggi vigenti della
    Repubblica Italiana sulla Protezione dei Dati. Il responsabile del trattamento dei dati riservati, ai sensi del D.L.
    196/2003, &egrave; Gavazza Morris, nato a Torino il 16/02/1981, rintracciabile presso il seguente indirizzo e-mail:
    gestione@shenteon.com .&nbsp;<br/>
    Ogni accesso degli utenti al sito &egrave; registrato (IP, nickname e orario) a fini statistici, per eventuali
    richieste della Magistratura e ai fini di moderazione del sito stesso.</p>

<p style="text-align:justify"><strong>Account e Password</strong><br/>
    L&#39;account, che consente l&#39;accesso e la partecipazione al sito, &egrave; personale; questo deve essere
    conservato con la massima diligenza ed utilizzato con la propria esclusiva responsabilit&agrave; nel rispetto dei
    principi di correttezza e di buona fede, in modo da non recare problemi al sito, agli utenti dello stesso ed ai
    terzi. L&#39;utente accetta e si dichiara responsabile di tutte le attivit&agrave; svolte tramite e nel proprio
    account, anche se non autorizzate. In caso di sottrazione, furto, smarrimento, uso abusivo o improprio dell&#39;account,
    o nel caso in cui la password sia stata rivelata a terzi non autorizzati e ancora, nel caso in cui risulti in
    qualsiasi altro modo compromessa, l&#39;utente deve darne immediata comunicazione alla Gestione di &quot;Shenteon -
    L&#39;Eredit&agrave; delle Lune&quot;, mediante e-mail indirizzata a: gestione@shenteon.com che provveder&agrave;
    nel sospendere la validit&agrave; dell&#39;account ripristinandolo o assegnandone uno nuovo. A ciascun account
    vengono associati specifici ruoli di sistema a seconda delle operativit&agrave; necessarie da effettuare all&#39;interno
    del sito.</p>

<p style="text-align:justify"><strong>Notifica d&#39;annullamento</strong><br/>
    Il Giocatore/utente NON ha il diritto alla cancellazione dell&#39;account registrato salvo casi rari e particolari
    che lo richiedano. La cancellazione dell&#39;account avverr&agrave; a discrezione della Gestione di &quot;Shenteon -
    L&#39;Eredit&agrave; delle Lune&quot;. L&#39;utente pu&ograve;, tuttavia, <strong>richiedere la completa rimozioni dei suoi
    dati personali presenti</strong> nel sistema (email, password criptata, ip) inviando un&#39;email a gestione@shenteon.com. I
    Personaggi da lui creati non possono essere eliminati.</p>

<p style="text-align:justify"><strong>Link a siti terzi</strong><br/>
    La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;non si ritiene responsabile di eventuali
    link che reindirizzano a siti e/o portali esterni.</p>

<p style="text-align:justify"><strong>Diritti della propriet&agrave; intellettuale&nbsp;</strong><br/>
    Tutto ci&ograve; che &egrave; contenuto in &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; (testi, file
    multimediali, grafica, loghi, immagini) &egrave; da considerarsi materiale di propriet&agrave; del sito e protetto
    da Copyright, pertanto &egrave; vietata&nbsp;la duplicazione totale o parziale cos&igrave; come l&#39;utilizzo al
    fine di realizzazioni ed elaborazioni grafiche per terzi siti. Continuando la registrazione l&#39;utente si trova d&#39;accordo
    nel dichiarare che la Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; &egrave; titolare del
    materiale sopra citato e risulta protetto in tutte le forme, supporti e tecnologie in cui &egrave; presentato;
    inoltre l&#39;utente conviene che ogni utilizzo&nbsp;non autorizzato o consentito dalla Gestione di &quot;Shenteon -
    L&#39;Eredit&agrave; delle Lune&quot;, di un qualsiasi materiale o contenuto presente all&#39;interno del sito,
    rappresenta una violazione delle leggi sul Copyright, sulla Privacy e sulla pubblicit&agrave;, nonch&eacute; alle
    norme vigenti sulle comunicazioni. I diritti sul database di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;
    e i relativi contenuti sono di propriet&agrave; della Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;
    e ad essa concessi in licenza. Si tiene a ricordare che in alcun modo la Gestione di &quot;Shenteon - L&#39;Eredit&agrave;
    delle Lune&quot; si riterr&agrave; responsabile dell&#39;eventuale inserimento, da parte di qualsivoglia utente, di
    materiale esterno protetto da Copyright, pertanto &egrave; responsabilit&agrave; dello stesso utente verificare che
    il materiale non sia sottoposto alla leggi vigenti sul Copyright e nell&#39;eventualit&agrave;, richiederne il
    permesso di utilizzo e pubblicazione all&#39;Autore, su&nbsp;&quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;.
</p>

<p style="text-align:justify"><br/>
    <strong>Inserimento di contenuti</strong><br/>
    Qualora venga richiesto all&#39;utente di realizzare ed inviare contenuti quali testi, grafica, video o audio alla
    mail gestione@shenteon.com associata al&nbsp;sito &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;, l&#39;utente
    in questione si impegna nel concedere alla Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; il
    diritto di propriet&agrave; e licenza permanenti, non soggetti a royalty, non conferibili in sub licenza e non
    esclusivi, di distribuire, riprodurre, utilizzare, adattare, modificare, pubblicare, tradurre e creare opere
    derivate che a loro volta potranno essere utilizzate ed integrate su supporti di futura realizzazione e di
    esercitarne tutti i diritti d&#39;autore e di pubblicazione relativi ai contenuti stessi, in tutto il mondo, per l&#39;intera
    durata dei diritti eventualmente sussistenti. Se l&#39;utente non &egrave; intenzionato nel concedere tali
    diritti &egrave; pregato di non inviare i propri contenuti alla Gestione del Sito diversamente, decidendo di
    inviarli, egli garantisce che: i&nbsp;contenuti inviati sono di realizzazione personale (l&#39;utente &egrave; l&#39;autore
    degli stessi) e in alcun modo violano diritti di Copyright altrui;&nbsp;non &egrave; presente materiale considerato
    osceno, diffamatorio, blasfemo o che violi in qualche modo i diritti di propriet&agrave; di eventuali esecutori,
    diritti di tutela dei dati personali, diritti di pubblicazioni, altri ed eventuali.&nbsp;<br/>
    la Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; potr&agrave; fare uso dei contenuti inviati
    esercitando i diritti concessi e specificati nel presente accordo senza limitazioni e senza effettuare pagamenti all&#39;utente
    mandante o a terzi, con rinuncia da parte di questi a tutti i diritti morali sui contenuti.&nbsp;<br/>
    Qualora l&#39;utente mandante non sia l&#39;autore diretto dell&#39;opera,&nbsp;dovr&agrave; assicurarsi di aver
    ottenuto il consenso, da parte del reale autore, alla pubblicazione, duplicazione e all&#39;utilizzo di tali
    contenuti. Diversamente, la Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; non si assumer&agrave;
    responsabilit&agrave; al riguardo, facendo dell&#39;utente mandante l&#39;unico responsabile della violazione dei
    diritti di Copyright di terzi.</p>

<p style="text-align:justify"><strong>Disservizi</strong><br/>
    La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; si impegna nel rendere sempre disponibile l&#39;accesso
    al sito ma non fornisce alcuna garanzia sulla disponibilit&agrave; illimitata della stessa a causa di eventuali e
    possibili restrizioni tecniche. La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;non si
    ritiene inoltre responsabile della presenza di eventuali virus o bug da cui il sito o il server possono essere
    infetti. La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; si riserva il diritto di:&nbsp;</p>

<ul>
    <li style="text-align:justify">Mutare il servizio di hosting o di chiuderlo definitivamente.&nbsp;</li>
    <li style="text-align:justify">Informare l&#39;utenza in merito a modifiche apportate nelle tempistiche di accesso&nbsp;</li>
    <li style="text-align:justify">Limitare alcuni servizi o l&#39;intero servizio.</li>
</ul>

<p style="text-align:justify"><strong>Esclusione della responsabilit&agrave;</strong><br/>
    L&#39;utente riconosce, nei limiti di quanto consentito dalla vigente normativa applicabile, che l&#39;utilizzo di
    &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; &egrave; esclusivamente a proprio rischio. La Comunit&agrave;
    di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; viene fornita, come servizio, esattamente come &egrave;
    stata concepita e resa appunto disponibile, pertanto la Gestione non si far&agrave; garante di specifici risultati
    che l&#39;utenza potr&agrave; aspettarsi e/o sperare di avere e/o ottenere attraverso l&#39;uso o la frequenza di
    tale sito.&nbsp;La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; inoltre si declina da ogni
    responsabilit&agrave; in merito a qualsiasi forma di danneggiamento diretto o indiretto, di qualsiasi natura esso
    sia, a seguito dell&#39;utilizzo della Comunit&agrave; stessa e dei contenuti in essa presenti da parte dell&#39;utente.
    Iscrivendosi alla Comunit&agrave; l&#39;utente accetta e garantisce automaticamente di sollevare da qualsiasi
    responsabilit&agrave; la Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; e&nbsp;tutto il
    personale rappresentante e membro ad essa confacenti, da eventuali obblighi risarcitori, spese legali incluse, che
    possano originarsi a loro carico in relazione all&#39;utilizzo stesso del servizio fruito. Si rende inoltre noto che
    la Gestione della Comunit&agrave; e i suoi collaboratori declinano ogni responsabilit&agrave; e saranno altres&igrave;
    esenti ed indenni da ogni obbligo risarcitorio in merito a eventuali danni ad apparecchiature informatiche dell&#39;utenza
    provocati da Virus e/o eventuali danni ad altre propriet&agrave; dell&#39;utenza in conseguenza di accesso al sito
    da parte dell&#39;Utenza, utilizzo del sito da parte dell&#39;Utenza, navigazione nel sito da parte dell&#39;Utenza.
</p>

<p style="text-align:justify"><strong>Modifiche</strong><br/>
    La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;,&nbsp;in qualsiasi momento e senza preavviso,
    si riserva il diritto di apportare migliorie e/o modifiche ai presenti Termini e Condizioni d&#39;Uso, al sito ed ai
    suoi&nbsp;contenuti,&nbsp;in relazione ad un necessario ampliamento dei servizi o qualora le leggi obbligatorie lo
    richiedano. Continuando nell&#39;utilizzo perpetuo del sito l&#39;Utenza accetta tacitamente qualsiasi versione
    riveduta delle condizioni citate in questo documento.</p>

<p style="text-align:justify"><strong>Risoluzione</strong><br/>
    La Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;si riserva la possibilit&agrave; di
    annullare in maniera immediata l&#39;utilizzo dei servizi offerti senza l&#39;obbligo di rilasciare ulteriori
    spiegazioni in merito.</p>

<p style="text-align:justify"><strong>Foro competente</strong><br/>
    In caso di violazioni, da parte dell&#39;Utenza, delle leggi attualmente vigenti in Italia o in altri Stati, la
    Gestione di &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;&nbsp;&egrave; autorizzata nel cedere alle autorit&agrave;
    competenti le informazioni relative agli account.&nbsp;Ai fini del solo utilizzo/frequenza della Comunit&agrave; di
    &quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot; si ritengono, validi ed applicabili, esclusivamente i termini
    di servizio e condizioni citati in tale documentazione pertanto, Termini e Condizioni esterni, per quanto similari
    nella forma o concordanti con quanto &egrave; qui citato, non saranno ritenuti parte della sottoscrizione. Nella
    casualit&agrave; in cui uno o pi&ugrave; termini e condizioni citati risultassero illeciti, di nulla validit&agrave;
    o comunque non applicabili ai sensi della legge di qualunque Stato o Paese, e nell&#39;ambito esclusivo della
    giurisdizione interessata, i restanti saranno comunque in vigore. I Termini e Condizioni non applicabili devono
    essere sostituiti da altri che pi&ugrave; si avvicinano al contenuto da essi trattato.</p>

<hr/>
<p style="text-align:center"><strong>Accettando quanto viene riportato su questo testo puoi procedere alla Registrazione
        del Personaggio su&nbsp;&quot;Shenteon - L&#39;Eredit&agrave; delle Lune&quot;. Nel caso in cui ritenessi che
        quanto scritto possa ledere in qualche modo&nbsp;la tua persona ti invitiamo a non effettuare la
        Registrazione.</strong></p>

<p style="text-align:justify">&nbsp;</p>
