<div id="{{ name }}-popup" class="reveal-modal gdr {{ size }}">
    <a class="close-reveal-modal">&#215;</a>
    <div class="reveal-top-left"></div><div class="reveal-top-right"></div>
    <div class="reveal-bottom-left"></div><div class="reveal-bottom-right"></div>

    <div class="reveal-content"></div>
</div>