<table class="spaced" style="margin-top: 13px;">
    <tr>
        <td>
            <h2>{{ book.title }}</h2>

            <div class="body-book">
                {{ book.body|raw }}
            </div>

            <hr style=" width: 70%; margin: 10px auto">

            <p style="text-align: right"><i>{{ book.author }}</i></p>

        </td>
    </tr>
</table>