#missive-container {
  // Messaggi di errore
  ul {
    margin-bottom: 0;
    li {
      font-weight: 700;
    }
  }

  button[type="submit"] {
    margin-top: 6px;
  }

  input {
    max-width: 20%;
    min-width: 150px;
  }

  select {
    width: auto;
  }

  #lista-missive {
    width: 100%;

    img {
      vertical-align: baseline;
    }

    input[type="checkbox"] {
      margin: 0;
    }

    .number, .category {
      width: 50px;
    }
    th.date{
      width: 110px;
    }
    td.date {
      font-size: 11px;
    }

    td.converti {
      width: 88px;
      button {
        margin: 0;
      }
    }

    .sender {
      width: 125px;
    }
    .preview {

    }
    .delete {
      width: 40px;
    }

    tr.to-read {
      font-weight: 700;
      td {
        background-color: darken($table-bg, 6%);
      }
    }
    a.show-letter {
      span {
        font-style: italic;
      }
    }
  }

  .segnala-thread {
    text-align: center;
    margin: 10px 0;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 5px;
    p {
      margin: 0;
    }
  }
}

table.letter-read {
  p {
    margin-bottom: 6px;
  }
  .letter-title {
    img {
      vertical-align: baseline;
    }
  }
  hr {
    margin: 6px 0;
    border-color: $table-border-color;
  }
  .date {
    text-align: right;
    font-style: italic;
    margin: 5px 0 0 0;
  }
  .reply-divider {
    margin-bottom: 0;
    font-size: 11px;
  }
  tbody {
    tr:nth-child(odd) {
      td {
        background-color: #c6aa86;
      }
    }
  }
}