<h1><span>Cimitero</span></h1>

<p class="text-centered">
    <img src="{{ asset('bundles/gdrgame/images/cimitero.jpg') }}">
</p>

<p class="text-centered">In questo luogo, nel silenzio delle lapidi, delle edicole e dei vialetti, riposano le
    spoglie di coloro che muoiono a Teon. <br>
    Una visita a quest'ultimo lido equivale ad un viaggio nella storia di tutti noi.
</p>