@font-face {
  font-family: 'Trajan';
  src: url('../fonts/trajanproregular.eot');
  src: url('../fonts/trajanproregular.eot?#iefix') format('embedded-opentype'), url('../fonts/trajanproregular.svg#trajanproregular') format('svg'), url('../fonts/trajanproregular.woff') format('woff'), url('../fonts/trajanproregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: $headingsFontFamily;
}

h1 {
  font-size: em-calc(32);
}

body {
  font-size: 14px;
}

.text-centered {
  text-align: center;
}