table.enclavi {
  width: 70%;
  margin: 0 auto 20px auto;

  th {
    background-color: $orange;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
  }
  td {
    padding-bottom: 3px;
    padding-top: 7px;
    background-color: $table-bg !important;

    &:nth-child(odd){
      background-color: $table-bg;
    }
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    &:before {
      border: none;
    }
    span {
      background-color: transparent;
    }
  }
  td.enclave-members {

    h2 {
      margin-bottom: 15px;
    }

    img {
      vertical-align: baseline;
      margin-right: 6px;
    }

    .rank-name {
      color: $primary-color;
      font-weight: 700;
    }

    .pg-name {
      a {
        color: $body-font-color;
      }
      .ignote {
        margin-bottom: 4px;
        display: block;
      }
    }

    ul {
      margin-left: 15px;
      list-style: none;

      ul {
        &.clan {
          margin-left: 50px;
        }
        margin-top: 8px;
        margin-left: 70px;
      }
    }
  }

  td.enclave-info {
    width: 300px;
    text-align: center;

    a {
      display: block;
      font-weight: 700;
      margin: 12px 0;

      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

table.shields {
  h2 {
    img {
      margin-bottom: 5px;
    }
    span {
      margin-bottom: 8px;
    }
  }
}