#table-online {
  width: 80%;
  margin: 0 auto;

  img {
    vertical-align: baseline;
  }

  .button {
    margin: 0;
  }

  .nr {
    width: 40px;
    text-align: center;
  }

  .pg {

  }
  .type {
   width: 72px;
    text-align: center;
  }
  .location{

  }
  .vai, .scrivi {
    text-align: center;
    padding: 2px 0;
    width: 120px;
  }
}

.legenda {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  img {
    vertical-align: baseline;
  }
  span {
    display: inline-block;
    margin-right: 5px;
  }
}

#online-container {
  td.status {
    width: 20px;
    text-align: center;
  }
  div.status {
    width: 200px;
  }
}
