<div class="enter-in-chat">
    {% if canEnter == false %}
        <p>Il tuo personaggio è morto e le anime qui non possono giocare.</p>
    {% else %}
        <a href="{{ path('chat-join') }}" class="button medium">Entra in chat</a> <br>
        <p>Una volta entrato in chat non potrai più inserire e/o togliere oggetti dalla borsa. Quando uscirai dalla
            chat, la stessa
            limitazione sarà applicata per altri 20 minuti, anche se non entrerai nuovamente in gioco.</p>
    {% endif %}
    <a data-href="{{ url('chat-show-online') }}" title="Visualizza i presenti" id="show-online">
        [Visualizza i presenti]
    </a>
</div>