{% extends '@GdrGame/Default/index.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <p class="text-centered" style="font-size: 15px">Non puoi accedere a questa Chat senza la chiave giusta!</p>

{% endblock %}