<hr>
<h3>Gestione del'utente</h3>
<form id="form-management-user" action="{{ url('avatar-management-form-user') }}" method="POST" novalidate="novalidate">
    {{ form_rest(form) }}

    <button type="submit">Salva</button>
</form>