<p style="text-align:justify;">Il tuo personaggio&nbsp;è stato/a dichiarato/a morto/a, per <strong>cause
        naturali</strong>.<br> Si tratta della "<strong>Morte Random</strong>" generata dal sistema di Shenteon. Non c'è
    modo di indicare al sistema quale personaggio morirà. E' del tutto casuale ed ha il fine di rendere l'esperienza di
    gioco ogni giorno nuova ed inaspettata. Speriamo tu non ne abbia a male!</p>  <p style="text-align:justify;">Il tuo
    Personaggio ora è un’anima e può essere giocato come tale, nelle chat:</p>
<ul>
    <li style="text-align:justify;">Cimitero</li>
    <li style="text-align:justify;">Rudere di Iroon il Folle</li>
    <li style="text-align:justify;">Cerchio di Mezzanotte</li>
    <li style="text-align:justify;">Bosco del Neromanto</li>
    <li style="text-align:justify;">Piazza delle Maschere</li>
    <li style="text-align:justify;">Lungomare</li>
    <li style="text-align:justify;">Via della Disgrazia</li>
    <li style="text-align:justify;">Piazza delle Spezie</li>
    <li style="text-align:justify;">Giardini Narcisse</li>
    <li style="text-align:justify;">Piazza del Banco</li>
    <li style="text-align:justify;">Lingua del Rospo</li>
    <li style="text-align:justify;">Piazza dei Bisbigli<br> &nbsp;</li>
</ul>

<p style="text-align:justify;">In questa condizione non possiede alcun potere ed i suoi ricordi sono pesantemente
    annebbiati. Può mostrarsi sotto forma di nuvola di vapore, di immagine evanescente e può comparire e scomparire
    mutando sembianze da una volta all’altra pur rimanendo nei limiti di grandezza di un corpo umanoide.</p>  <p
        style="text-align:justify;">Potrai lanciare esclusivamente azioni in scuro <em>(+azione)</em> e tentare di
    dialogare con i Personaggi vivi. Più alto sarà il loro valore di Saggezza, più facile sarà l’interazione con essi.
</p>

<p style="text-align:justify;"><u><strong>Tutto ciò durerà 7 giorni</strong></u><strong>.</strong></p>  <p
        style="text-align:justify;">Trascorso questo lasso di tempo, al primo successivo tentativo di ingresso al sito
    con questo Personaggio, ti verrà richiesto come intendi proseguire la tua esperienza di gioco su Shenteon.</p>  <p
        style="text-align:justify;">Non hai bisogno di contattare nessuno per procedere, ma ti invitiamo a contattare la
    Gestione (tramite il link “Assistenza” nella Home esterna del sito od attraverso lo “Scrivi alla Gestione” nel Menù
    OFF interno) qualora qualcosa non ti fosse chiaro o ritenessi di essere stato dichiarato morto per errore.</p>  <p
        style="text-align:justify;">Se vuoi più informazioni sul gioco della Morte, ti invitiamo a consultare <strong>“L’Invecchiamento
        e la Morte”</strong> all’interno del Manuale di Gioco che trovi nel Menù OFF interno, e anche al <strong><a
                href="http://www.shenteon.com/regolamento/giocare-anima.html">regolamento del gioco
            dell'anima</a>.</strong></p>  <p style="text-align:justify;">E… buona morte, Cara anima!</p>  <p
        style="text-align:justify;">&nbsp;</p>  <p style="text-align:right;"><strong><em>La Gestione</em></strong></p>